@import "global.scss";

// !SCSS Adaptiv-font-sixe:
$maxWidth: 1500;
@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@media (max-width: 1199px) {
	/* CSS для ширины от 992px до 1199px */
}
@media (max-width: 991px) {
	/* CSS для ширины от 768px до 991px */
}
@media (max-width: 767px) {
	/* CSS для ширины от 576px до 767px */
}
@media (max-width: 575px) {
	/* CSS для ширины до 575px (включительно) */
}

.form {
	max-width: 550px;
	margin: 0 auto;
	padding: 30px 0;
}
.form * {
	outline: none;
	box-sizing: border-box;
}
.form__body {
	position: relative;
}
.form__body::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease 0s;
	background: rgba(107, 107, 107, 0.9) url(../../public/img/771.gif) center center no-repeat;
}

.form__body._sending::after {
	opacity: 1;
	visibility: visible;
}
.form__title {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 30px;
}
.form__item {
	margin-bottom: 20px;
}
.form__label {
	font-size: 18px;
	display: block;
	margin-bottom: 10px;
}
.form__input {
	height: 50px;
	padding: 0 20px;
	border-radius: 5px;
	width: 100%;
	font-size: 18px;
	transition: all 0.3 ease 0s;
}
.form__input:focus {
	box-shadow: 0 0 10px #666666;
}
.form__input._error {
	box-shadow: 0 0 10px red;
}
textarea.form__input {
	min-height: 120px;
	resize: vertical;
}

.options {
	margin-top: 10px;
}
.options__item {
	margin-bottom: 10px;
}

.options__input {
	display: none;
}

.options__label {
	display: inline-flex;
	font-size: 16px;
	line-height: 140%;
	align-items: center;
	position: relative;
	cursor: pointer;
}
.options__input:checked + .options__label::after {
	transform: scale(1);
}
.options__label::before {
	content: "";
	align-self: start;
	flex: 0 0 24px;
	height: 24px;
	border-radius: 50%;
	background: darkgray;
	margin-right: 10px;
}
.options__label::after {
	transition: transform 0.3s ease 0s;
	content: "";
	position: absolute;
	top: 4px;
	left: 4px;
	width: 16px;
	height: 16px;
	background-color: #000;
	border-radius: 50%;
	transform: scale(0);
}

.select {
	height: 50px;
	width: 100%;
	border-radius: 5px;
	padding: 0 20px;
}

.file__item {
	position: relative;
}

.file__input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	font-size: 0;
	cursor: pointer;
}
.file__button {
	display: inline-flex;
	min-width: 40px;
	border-radius: 30px;
	justify-content: center;
	align-items: center;
	padding: 10px 30px;
}
.file__preview {
	display: inline-block;
	max-width: 100px;
	padding-top: 10px;
}
.file__preview img {
	max-width: 100%;
}
.checkbox._error .checkbox__label::before {
	box-shadow: 0 0 10px red;
}
.checkbox__input {
	display: none;
}
.checkbox__input:checked + .checkbox__label::after {
	transform: scale(1);
}
.checkbox__label {
	font-size: 16px;
	line-height: 140%;
	display: inline-flex;
	text-align: center;
	span {
		text-align: left;
	}
	position: relative;
}
.checkbox__label::before {
	content: "";
	flex: 0 0 24px;
	height: 24px;
	border-radius: 4px;
	align-self: start;
	margin-right: 10px;
	border: 1px solid #000;
	cursor: pointer;
}

.checkbox__label::after {
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	top: 5px;
	left: 5px;
	background: grey;
	border-radius: 4px;
	transition: transform 0.3s ease 0s;
	transform: scale(0);
}

.form__button {
	width: 100%;
	min-height: 50px;
	border-radius: 20px;
	background-color: grey;
	box-shadow: 0 5px 0 grey;
	border: none;
	text-transform: uppercase;
	text-align: center;
	align-items: center;
	font-weight: 700;
	letter-spacing: 2px;
	transition: background-color 0.3s ease 0s;
	position: relative;
	top: 0;
	&:hover {
		background-color: #666666;
	}
	&:active {
		top: 3px;
		box-shadow: 0 2px 0 #666666;
	}
}
